@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
:root {
  /* col setting begin */
  --im-content-padding: 10px;
  --im-row-margin: calc(var(var(--im-content-padding) * -1));
  /* col setting end */
  --im-body-bg: #272822;
  --im-color-white-font: #ffffff;
  --im-color-white-font-active: #c5005c;
  --im-color-dark-font: #000000;
  --im-color-dark-font-active: var(--im-color-white-font-active);
  --im-hamburger-bar-bg: #ffffff;
  --im-hamburger-bar-active-bg: #eeb600;
  --im-loader-color-font: #ca8300;
}

/* reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
html,
body,
div,
input,
textarea,
select,
span,
a,
button,
table,
tr,
td,
th,
ul,
ol,
li,
button {
  outline: none;
  outline-color: transparent;
  outline-width: 0;
  outline-style: none;
  outline-offset: initial;
  font-family: var(--fo);
  margin: 0;
  padding: 0;
}

a,
a:focus,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  list-style-type: none;
}

/* google icons */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* base root */
:root {
  --open-sans: "Open Sans", sans-serif;
}

/* general */
body {
  font-family: var(--open-sans);
  overflow-x: hidden;
}

@media (max-width: 1920px) {
  .col-xl-1 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5%;
            flex: 0 0 5%;
    max-width: 5%;
  }
  .col-xl-2 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 10%;
  }
  .col-xl-3 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    max-width: 15%;
  }
  .col-xl-4 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .col-xl-5 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-6 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .col-xl-7 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    max-width: 35%;
  }
  .col-xl-8 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
  .col-xl-9 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    max-width: 45%;
  }
  .col-xl-10 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-11 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    max-width: 55%;
  }
  .col-xl-12 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }
  .col-xl-13 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%;
  }
  .col-xl-14 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .col-xl-15 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-16 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .col-xl-17 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
    max-width: 85%;
  }
  .col-xl-18 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 90%;
  }
  .col-xl-19 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95%;
            flex: 0 0 95%;
    max-width: 95%;
  }
  .col-xl-20 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 1920px) {
  .col-md-1 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
.container {
  width: 100%;
  max-width: 1920px;
  padding-left: var(--im-content-padding);
  padding-right: var(--im-content-padding);
}
.container > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: var(--im-row-margin);
  margin-right: var(--im-row-margin);
}
.container > .row > [class*=col] {
  padding-left: var(--im-content-padding);
  padding-right: var(--im-content-padding);
}

body {
  background: var(--im-body-bg);
}

.header .nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .nav > ul > li {
  position: relative;
}
.header .nav > ul > li > a {
  position: relative;
  z-index: 5;
  display: block;
  font-size: 1rem;
  line-height: 1;
  color: var(--im-color-white-font);
  padding: 2rem 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header .nav > ul > li > a:hover {
  color: var(--im-color-white-font-active);
}
.header .nav > ul > li > .loverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header .nav > ul > li > .sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 300px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-50px) translateX(0px);
          transform: translateY(-50px) translateX(0px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #f1f1f1;
}
.header .nav > ul > li > .sub-menu > ul li a {
  display: block;
  font-size: 0.875rem;
  line-height: 1;
  color: var(--im-color-dark-font);
  padding: 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header .nav > ul > li > .sub-menu > ul li a:hover {
  color: var(--im-color-dark-font-active);
  padding: 1rem 0.5rem 1rem 1.5rem;
}
.header .nav > ul > li:hover > .sub-menu {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: all;
}
.header .nav > ul > li:hover > .loverlay {
  opacity: 1;
}

@-webkit-keyframes hamburger-bar-animate {
  0% {
    left: 0;
    right: 100%;
  }
  35% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  65% {
    left: 100%;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

@keyframes hamburger-bar-animate {
  0% {
    left: 0;
    right: 100%;
  }
  35% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  65% {
    left: 100%;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}
@-webkit-keyframes menuAnimateIn {
  0% {
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes menuAnimateIn {
  0% {
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes menuAnimateOut {
  0% {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
}
@keyframes menuAnimateOut {
  0% {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes css-only {
  0% {
    color: #19dcea;
  }
  25% {
    color: #b22cff;
  }
  50% {
    color: #ea2222;
  }
  75% {
    color: #f5be10;
  }
  100% {
    color: #3bd80d;
  }
}
@keyframes css-only {
  0% {
    color: #19dcea;
  }
  25% {
    color: #b22cff;
  }
  50% {
    color: #ea2222;
  }
  75% {
    color: #f5be10;
  }
  100% {
    color: #3bd80d;
  }
}
@-webkit-keyframes hidden-animate {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes hidden-animate {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
.hamburger {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  z-index: 53;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  background: #2B2B2B;
  border-radius: 8px;
  -webkit-animation-name: color-change-5x;
          animation-name: color-change-5x;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.hamburger-bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: var(--im-hamburger-bar-bg);
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
}
.hamburger-bar:nth-child(3) {
  margin-bottom: 0;
}
.hamburger-bar:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 100%;
  background: var(--im-hamburger-bar-active-bg);
}
.hamburger-bar:nth-child(1):before {
  -webkit-animation-name: hamburger-bar-animate;
          animation-name: hamburger-bar-animate;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: infinite;
          animation-fill-mode: infinite;
}
.hamburger-bar:nth-child(2):before {
  -webkit-animation-name: hamburger-bar-animate;
          animation-name: hamburger-bar-animate;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: infinite;
          animation-fill-mode: infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.hamburger-bar:nth-child(3):before {
  -webkit-animation-name: hamburger-bar-animate;
          animation-name: hamburger-bar-animate;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: infinite;
          animation-fill-mode: infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@media only screen and (min-width: 992px) {
  .hamburger:hover .hamburger-bar:nth-child(1) {
    -webkit-transform: rotate(-5deg) translateY(1px) translateX(-1px);
            transform: rotate(-5deg) translateY(1px) translateX(-1px);
  }
  .hamburger:hover .hamburger-bar:nth-child(2) {
    opacity: 0.8;
  }
  .hamburger:hover .hamburger-bar:nth-child(3) {
    -webkit-transform: rotate(5deg) translateY(-1px) translateX(-1px);
            transform: rotate(5deg) translateY(-1px) translateX(-1px);
  }
}
@media only screen and (max-width: 991px) {
  .hamburger {
    display: block;
  }
}

/* hamburger end*/
#hamburger {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
#hamburger:checked ~ .hamburger .hamburger-bar:nth-child(1) {
  -webkit-transform: rotate(-45deg) translateY(5px) translateX(-5px);
          transform: rotate(-45deg) translateY(5px) translateX(-5px);
}
#hamburger:checked ~ .hamburger .hamburger-bar:nth-child(2) {
  opacity: 0;
}
#hamburger:checked ~ .hamburger .hamburger-bar:nth-child(3) {
  -webkit-transform: rotate(45deg) translateY(-6px) translateX(-6px);
          transform: rotate(45deg) translateY(-6px) translateX(-6px);
}
@media only screen and (min-width: 992px) {
  #hamburger:checked ~ .hamburger:hover .hamburger-bar:nth-child(1) {
    -webkit-transform: rotate(-40deg) translateY(4px) translateX(-4px);
            transform: rotate(-40deg) translateY(4px) translateX(-4px);
  }
  #hamburger:checked ~ .hamburger:hover .hamburger-bar:nth-child(2) {
    opacity: 0.2;
  }
  #hamburger:checked ~ .hamburger:hover .hamburger-bar:nth-child(3) {
    -webkit-transform: rotate(40deg) translateY(-5px) translateX(-5px);
            transform: rotate(40deg) translateY(-5px) translateX(-5px);
  }
}
@media only screen and (max-width: 991px) {
  #hamburger:checked ~ .header {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    pointer-events: all;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-timing-function: cubic-bezier(1, 0, 0.25, 1);
            transition-timing-function: cubic-bezier(1, 0, 0.25, 1);
    /* menu animate function */
  }
  #hamburger:checked ~ .header .im-animate-1 {
    -webkit-animation-name: menuAnimateIn;
            animation-name: menuAnimateIn;
    -webkit-animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
            animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 600ms;
            animation-duration: 600ms;
    -webkit-animation-delay: 700ms;
            animation-delay: 700ms;
  }
  #hamburger:checked ~ .header .im-animate-2 {
    -webkit-animation-name: menuAnimateIn;
            animation-name: menuAnimateIn;
    -webkit-animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
            animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 600ms;
            animation-duration: 600ms;
    -webkit-animation-delay: 800ms;
            animation-delay: 800ms;
  }
  #hamburger:checked ~ .header .im-animate-3 {
    -webkit-animation-name: menuAnimateIn;
            animation-name: menuAnimateIn;
    -webkit-animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
            animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 600ms;
            animation-duration: 600ms;
    -webkit-animation-delay: 900ms;
            animation-delay: 900ms;
  }
  #hamburger:checked ~ .header .im-animate-4 {
    -webkit-animation-name: menuAnimateIn;
            animation-name: menuAnimateIn;
    -webkit-animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
            animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 600ms;
            animation-duration: 600ms;
    -webkit-animation-delay: 1000ms;
            animation-delay: 1000ms;
  }
  #hamburger:checked ~ .header .im-animate-5 {
    -webkit-animation-name: menuAnimateIn;
            animation-name: menuAnimateIn;
    -webkit-animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
            animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 600ms;
            animation-duration: 600ms;
    -webkit-animation-delay: 1100ms;
            animation-delay: 1100ms;
  }
  #hamburger:checked ~ .menu-overlay {
    pointer-events: all;
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    width: 90%;
    max-width: 500px;
    min-width: 280px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fffeec;
    pointer-events: none;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(1, 0, 0.25, 1);
            transition-timing-function: cubic-bezier(1, 0, 0.25, 1);
    /* menu animate function */
  }
  .header .nav {
    width: 100%;
  }
  .header .nav > ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header .nav > ul > li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .header .nav > ul > li > a {
    color: var(--im-color-dark-font);
  }
  .header .nav > ul > li > .sub-menu {
    position: relative;
  }
  .header .nav > ul > li > .sub-menu > ul > li {
    overflow: hidden;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header .nav > ul > li > .sub-menu > ul > li > a {
    padding: 0 1rem;
    line-height: 0;
  }
  .header .nav > ul > li > .loverlay {
    display: none;
  }
  .header .nav > ul > li:hover > .sub-menu > ul > li a {
    padding: 1rem;
    line-height: 1;
  }
  .header .im-animate-1 {
    -webkit-animation-name: menuAnimateOut;
            animation-name: menuAnimateOut;
    -webkit-animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
            animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 400ms;
            animation-duration: 400ms;
    -webkit-animation-delay: 500ms;
            animation-delay: 500ms;
  }
  .header .im-animate-2 {
    -webkit-animation-name: menuAnimateOut;
            animation-name: menuAnimateOut;
    -webkit-animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
            animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 400ms;
            animation-duration: 400ms;
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
  }
  .header .im-animate-3 {
    -webkit-animation-name: menuAnimateOut;
            animation-name: menuAnimateOut;
    -webkit-animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
            animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 400ms;
            animation-duration: 400ms;
    -webkit-animation-delay: 300ms;
            animation-delay: 300ms;
  }
  .header .im-animate-4 {
    -webkit-animation-name: menuAnimateOut;
            animation-name: menuAnimateOut;
    -webkit-animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
            animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 400ms;
            animation-duration: 400ms;
    -webkit-animation-delay: 200ms;
            animation-delay: 200ms;
  }
  .header .im-animate-5 {
    -webkit-animation-name: menuAnimateOut;
            animation-name: menuAnimateOut;
    -webkit-animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
            animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 400ms;
            animation-duration: 400ms;
    -webkit-animation-delay: 100ms;
            animation-delay: 100ms;
  }
  .animate-loader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 64;
    opacity: 1;
    -webkit-animation-name: hidden-animate;
            animation-name: hidden-animate;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  .animate-loader:before {
    content: "CSS ONLY";
    font-size: 10vw;
    width: 90%;
    text-align: center;
    font-weight: bold;
    color: var(--im-loader-color-font);
    position: absolute;
    left: 50%;
    bottom: 50%;
    -webkit-transform: translate(-50%, -50px);
            transform: translate(-50%, -50px);
    -webkit-animation-name: css-only;
            animation-name: css-only;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .animate-loader:after {
    content: "HEADER TO MOBIL MENU";
    font-size: 10vw;
    width: 90%;
    text-align: center;
    font-weight: bold;
    color: var(--im-loader-color-font);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50px);
            transform: translate(-50%, -50px);
    -webkit-animation-name: css-only;
            animation-name: css-only;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}/*# sourceMappingURL=global.css.map */